$theme-colors: (
  "header": #1976b3,
  "body": white,
  "item": #f3f5f0,
  "footer": #333,
);

$colors: (
  "delete": #c71f2e,
  "add": #28ab59,
);

$font-colors: (
  "white": #fefefe,
  "black": #333,
);

$font-size: (
  "normal": 16px,
  "lg": 20px,
  "xl": 25px,
);
