$theme-colors: (
  "header": #1976b3,
  "body": #fefefe,
  "footer": #333,
);

$colors: (
  "delete": #c71f2e,
  "add": #28ab59,
);

$font-colors: (
  "white": #fefefe,
  "black": #333,
);

$font-size: (
  "regular": 16px,
  "large": 20px,
);
